# General Emacs Stuff
*~
elpa/

# Specific instance stuff
auto-save-list/
projectile-bookmarks.eld
network-security.data
flycheck_init.el
eshell
recentf
abbrev_defs
tramp
.gnus
secrets
bookmarks

# MacOSX
.DS_Store
